html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

ul {
  cursor: pointer;
}
.header,
.main,
.footer,
.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
}
.btn {
  height: 40px;
  font-size: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: inherit;
  transition: .25s ease-in-out;
  cursor: pointer;
}

.btn--hero {
  min-width: 180px;
}

.btn--lighgreen {
  background-color: var(--lighgreen);
}

.btn--lighgreen:hover {
  background-color: var(--lightgreen-hover);
}

.btn--white {
  color: var(--white);
}