html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

ul {
  cursor: pointer;
}
.header,
.main,
.footer,
.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
}