html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.header,
.main,
.footer,
.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  background-color: var(--bg-color);
  background-image: var(--bg-image-color);
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
}

.content-end {
  justify-content: space-between;
  width: 100%;
}