.wrapper--hero {
  width: 100%;
  height: 500px;
}

.hero__header {
  width: 37%;
  margin-top: 92px;
  margin-left: 38px;
}

.hero__header>* {
  margin-bottom: 25px;
}

.hero__sub-header {
  width: 65%;
  line-height: 1.6;
}

.hero__image {
  width: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__image-file {
  width: 75%;
  -ms-transform: rotate(354deg);
  -webkit-transform: rotate(354deg);
  transform: rotate(354deg);
  border: 14px solid var(--white);
  border-radius: 20px;
}