/* LOGO SECTION */
.logo__header {
  max-height: 50px;
}

.logo__image {
  padding-top: 10px;
}

/* END OF LOGO SECTION */

/* NAV SECTION */

.nav__links {
  display: flex;
  list-style: none;
}

.nav__item {
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__link {
  text-decoration: none;
  color: var(--white);
  font-size: 0.8rem;
  transition: .25s ease-in-out;
}

.nav__link:hover {
  color: var(--white-hover);
    font-weight: 600;
}

/* END OF NAV SECTION */

/* HERO SECTION */
.hero {
  width: 100%;
  height: 500px;
}

.hero__header {
  width: 37%;
    margin-top: 100px;
}

.hero__header>* {
  color: var(--white);
  margin-bottom: 25px;
}

.hero__title {
  font-size: 2rem;
  font-weight: 800;
}

.hero__sub-header {
  width: 65%;
  font-weight: 200;
  line-height: 1.6;
}

.hero__btn {
  width: 180px;
  height: 40px;
  font-size: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: var(--lighgreen);
  transition: .25s ease-in-out;
  cursor: pointer;
}

.hero__btn:hover {
  background-color: var(--lightgreen-hover);
}

.hero__image {
  width: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__image-file {
  width: 75%;
  -ms-transform: rotate(354deg);
  -webkit-transform: rotate(354deg);
  transform: rotate(354deg);
  border: 14px solid var(--white);
  border-radius: 20px;
}

/* END OF HERO SECTION */

/* FEATURES SECTION */
.features {
  background-color: var(--black);
}

.features>* {
  color: var(--white);
}

.feature__header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center
}

.feature__title {
  font-size: 1.17rem;
}

.features__links {
  display: flex;
  justify-content: center;
}

.feature__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 100%;
}

.feature__item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
  -webkit-box-shadow: 0px 5px 20px 0px var(--white-opacity35);
  -moz-box-shadow: 0px 5px 20px 0px var(--white-opacity35);
  box-shadow: 0px 5px 20px 0px var(--white-opacity35);
}

.feature__item-title {
  font-size: .83rem;
  margin-bottom: 15px;
}

.feature__item__sub-header {
  margin-bottom: 95px;
  font-size: .77rem;
  line-height: 1.4;
  width: 75%;
  text-align: center;
}
/* END OF FEATURES SECTION */

/* MEDIA SECTION */

.media {
  height: 80px;
  align-items: center;
}

/* END OF MEDIA SECTION */
/* MAIN CONTENT SECTION */

.main_content {
  height: 500px;
}

.main_content-image,
.main_content__text-container {
  margin: 30px;
  width: 50%;
}

.main_content-image {
  display: flex;
  justify-content: center;
}

.main_content-image-source {
  width: 85%;
}

.main_content__text-title {
  margin: 25px 0;
  color: var(--darkgrey);
  font-size: 1.17rem;
}

.main_content__text {
  width: 60%;
  font-size: .67rem;
  font-weight: 200;
  line-height: 1.6;
}

/* END OF MAIN CONTENT SECTION */
/* PRICING SECTION */

.pricing {
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.pricing__header {
  width: 100%;
  margin: 50px 0;
  text-align: center;
}

.pricing__header-title {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: var(--darkgrey);
}

.pricing__header-sub-title {
  font-size: .87rem;
  color: var(--grey);
}

.pricing__items {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.pricing__item {
  width: 25%;
  text-align: center;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 15px 0px var(--lightgrey);
  -moz-box-shadow: 0px 4px 15px 0px var(--lightgrey);
  box-shadow: 0px 4px 15px 0px var(--lightgrey);
  cursor: pointer;
  transition: .25s ease-in-out;
}

.pricing__item:hover {
  -webkit-box-shadow: 0px 4px 15px 0px var(--grey);
  -moz-box-shadow: 0px 4px 15px 0px var(--grey);
  box-shadow: 0px 4px 15px 0px var(--grey);
  transform: scale(1.05);
}

.pricing__item-title {
  margin: 40px auto 25px;
  color: var(--grey);
}

.pricing__item-price {
  margin: 0 auto 5px;
  font-size: 2rem;
  font-weight: 600;
}

.pricing__item-period {
  margin: 0 auto 30px;
  font-size: .67rem;
}

.pricing__text {
  margin: 0 auto 45px;
  height: 67px;
  font-size: .87rem;
  line-height: 1.2;

}

.pricing_btn {
  margin: 0 auto 40px;
  width: 125px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
}

.pricing_btn:hover {
  background-color: var(--blue-hover);
}

/* END OF PRICING SECTION */
/* TEAM SECTION */

.team {
  flex-direction: column;
}

.team__header {
  margin: 55px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
}

.team__title {
  width: 100%;
  font-size: 1.5rem;
  color: var(--darkgrey);
}

.team__list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.list__item {
  padding: 25px 0;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__image-wrapper {
  margin-bottom: 30px;
}

.list__title,
.list__fullname,
.list__text {
  margin-bottom: 10px;
}

.list__title,
.list__text {
  color: var(--grey);
}

.list__image {}

.list__fullname {
  font-size: .87rem;
  font-weight: 600;
}

.list__text {
  font-size: .67rem;
}

.list__contact-wrapper {
  width: 60px;
  display: flex;
  justify-content: space-between;
}

.list__contact-twitter-wrapper {
  display: flex;
  align-items: center;
}

.list__contact-twitter-wrapper,
.list__contact-fb-wrapper {
  transform: scale(0.55);
  cursor: pointer;
}

.list__contact-twitter-icon,
.list__contact-fb-icon {
  filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(0%);
}

.list__contact-fb-wrapper {
  text-align: center;
}

/* END OF TEAM SECTION */
/* FOOTER SECTION */

.footer {
  height: 50px;
    background-color: var(--bg-footer);
    flex-direction: row;
    justify-content: center;
  }
  
  .footer__text {
    padding-right: 15px;
    font-size: .67rem;
    color: var(--white);
}
/* END OF FOOTER SECTION */