/* GLOBAL SECTION */
:root {
  --bg-color: rgba(194, 74, 126, 1);
    --bg-image-color: radial-gradient(circle, rgba(194, 74, 126, 1) 0%, rgba(105, 86, 126, 1) 100%);
    --black: rgba(0, 0, 0, 1);
    --darkgrey: rgba(0, 0, 0, 0.75);
    --grey: rgba(0, 0, 0, 0.5);
    --white: rgba(255, 255, 255, 1);
    --white-hover: rgba(204, 204, 204, 1);
    --ligh-green: rgba(37, 241, 139, 1);
    --light-green-hover: rgba(81, 244, 162, 1);
    --white-opacity35: rgba(255, 255, 255, 0.35);
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.header,
.main,
.footer,
.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  background-color: var(--bg-color);
  background-image: var(--bg-image-color);
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
}

.content-end {
  justify-content: space-between;
  width: 100%;
}

/* END OF GLOBAL SECTION */

/* LOGO SECTION */
.logo__header {
  max-height: 50px;
}

.logo__image {
  padding-top: 10px;
}

/* END OF LOGO SECTION */

/* NAV SECTION */

.nav__links {
  display: flex;
  list-style: none;
}

.nav__item {
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__link {
  text-decoration: none;
  color: var(--white);
  font-size: 0.8rem;
  transition: .25s ease-in-out;
}

.nav__link:hover {
  color: var(--white-hover);
    font-weight: 600;
}

/* END OF NAV SECTION */

/* HERO SECTION */
.hero {
  width: 100%;
  height: 500px;
}

.hero__header {
  width: 37%;
    margin-top: 100px;
}

.hero__header>* {
  color: var(--white);
  margin-bottom: 25px;
}

.hero__title {
  font-size: 2rem;
  font-weight: 800;
}

.hero__sub-header {
  width: 65%;
  font-weight: 200;
  line-height: 1.6;
}

.hero__btn {
  width: 180px;
  height: 40px;
  font-size: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: var(--ligh-green);
  transition: .25s ease-in-out;
  cursor: pointer;
}

.hero__btn:hover {
  background-color: var(--light-green-hover);
}

.hero__image {
  width: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__image-file {
  width: 75%;
  -ms-transform: rotate(354deg);
  -webkit-transform: rotate(354deg);
  transform: rotate(354deg);
  border: 14px solid var(--white);
  border-radius: 20px;
}

/* END OF HERO SECTION */

/* FEATURES SECTION */
.features {
  background-color: var(--black);
}

.features>* {
  color: var(--white);
}

.feature__header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center
}

.feature__title {
  font-size: 1.17rem;
}

.features__links {
  display: flex;
  justify-content: center;
}

.feature__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 100%;
}

.feature__item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
  -webkit-box-shadow: 0px 5px 20px 0px var(--white-opacity35);
  -moz-box-shadow: 0px 5px 20px 0px var(--white-opacity35);
  box-shadow: 0px 5px 20px 0px var(--white-opacity35);
}

.feature__item-title {
  font-size: .83rem;
  margin-bottom: 15px;
}

.feature__item__sub-header {
  margin-bottom: 95px;
  font-size: .77rem;
  line-height: 1.4;
  width: 75%;
  text-align: center;
}
/* END OF FEATURES SECTION */

/* MEDIA SECTION */

.media {
  height: 80px;
  align-items: center;
}

/* END OF MEDIA SECTION */
/* MAIN CONTENT SECTION */

.main_content {
  height: 500px;
}

.main_content-image,
.main_content__text-container {
  margin-top: 30px;
  width: 50%;
}

.main_content-image {
  display: flex;
  justify-content: center;
}

.main_content-image-source {
  width: 85%;
}

.main_content__text-title {
  margin: 25px 0;
  color: var(--darkgrey);
  font-size: 1.17rem;
}

.main_content__text {
  width: 60%;
  font-size: .67rem;
  font-weight: 200;
  line-height: 1.6;
}


/* END OF MAIN CONTENT SECTION */
/* FOOTER SECTION */
.footer {
  background-color: var(--grey);
}
/* END OF FOOTER SECTION */