:root {
  --very-small: .67em;
  --small: .87em;
  --medium: 1em;
  --big: 1.5em;
  --very-big: 2em;
  --weight-200: 200;
  --weight-400: 400;
    --weight-700: 700;
}

.typo {
  text-decoration: none;
  font-size: var(--medium);
  color: var(--black);
}

.typo--very-small {
  font-size: var(--very-small);
}

.typo--small {
  font-size: var(--small);
}

.typo--big {
  font-size: var(--big);
}

.typo--very-big {
  font-size: var(--very-big);
}

.typo--white {
  color: var(--white);
}

.typo--darkgrey {
  color: var(--darkgrey);
}
.typo--extralight {
  font-weight: var(--weight-200)
}

.typo--regular {
  font-weight: var(--weight-400)
}

.typo--bold {
  font-weight: var(--weight-700)
}